{% extends "banner_base.html" %}
{% load i18n %}

{% block head_title %}Welcome to Account{% endblock %}
{% block body %}
    {% block banner %}
<h1 style="color: #333fff; text-shadow: #555 2px 2px 3px">Todo CRUD/Permissions example!</h1>
<div class="form-inline" role="form" style="color:while">
    <button type="button" class="btn btn-primary">INDEX</button>
    {% if perms.todo.add_todo %}
    <button type="button" class="btn btn-default"><a href="{% url 'app_create' %}">Add Todo</a></button>{% endif %}
    <hr/>
</div>
    {% if user.is_authenticated %}
    <P><strong>Bienvenido a ESTA PAGINA espero que te guste</strong></p>
    {% else %}
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>You can <a href="{{ login_url }}" class="btn btn-default"
                style="color: #000">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.</p>
        {% endif %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
{% endblock %}
